*{
    margin: 0px;
    padding:0px;
}


.drop-con li a{
    color: red;
    display: none;
}
.dropdown:hover .drop-con li a{
    display: block;
}

ul li a{
    text-decoration: none;
    color: black;
    font-family: cursive;

}