*{
    margin:0px;
    padding: 0px;       
}

header{
  
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("2-nature.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;

}
.logo img{
    float:left;
    width: 200px;position: absolute;
    left:-20px;
    top:-10px;
    
}
ul li{
    float: right;
    list-style-type: none;
    margin-top: 22px; 
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Quicksand', sans-serif;
    
}
 li a{
    
    text-decoration: none;
    margin:0px 6px 0px 6px;
    font-size: 17px;
    color:white;
    border:1px solid transparent;
    padding:5px 18px 5px 18px;
    transition: 0.7s ease;
   
  
    
}
.active{
    background-color: white;
    color:black;
}
li a:hover{
    background-color: white;
    color: black;
}
.con{
       position: absolute;
       top: 50%;
       left:50%;
       transform: translate(-50%,-50%);
       font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Quicksand', sans-serif;
       color: white;
       font-size: 30px;
}
.btn{
    position: absolute;
    top:60%;
    left:50%;
    transform: translate(-50%,-50%);
    
}
.btn a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    margin:0px 10px 0px 0px ;
    border:1px white solid;
    padding: 5px 20px ;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Quicksand', sans-serif;
}
.btn a:hover{
    background-color: black;
    color:white;
    transition: 0.7s ease;
  
}


